SECRET_KEY=replace-with-a-long-random-django-secret-key
DEBUG=False
ALLOWED_HOSTS=YOUR_ELASTIC_IP,localhost,127.0.0.1

DB_NAME=cyberbrief_db
DB_USER=cyberbrief_user
DB_PASSWORD=replace-with-your-database-password
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
SECURE_SSL_REDIRECT=False
